{# Institutional signature. Included by every campaign body — edit here, not
   in the bodies. Logo and social icons are served from the Google-hosted URLs
   copied out of the Gmail signature; if they ever stop resolving, replace the
   src attributes with inline images (see mailer.Campaign inline_images). #}
<table style="border:none;border-collapse:collapse">
    <colgroup><col width="199"><col width="263"></colgroup>
    <tbody>
        <tr style="height:0pt">
            <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <a href="https://fundacionmaradentro.cl/" style="color:rgb(17,85,204)" target="_blank">
                        <span style="font-size:11pt;font-family:Arial,sans-serif;background-color:transparent;vertical-align:baseline">
                            <span style="border:none;display:inline-block;overflow:hidden;width:143px;height:57px">
                                <img src="https://lh5.googleusercontent.com/iid4MKJZaaxQ_yw9VPMMKcxW3Zopfjg1ZGxX4b9atXRrQfy5uoKXoAzUOi9_95OpnkBIV_VO4Yftzjxh1JwqqE4MOzp1_JkaNkSwt0lQ8FUvXMBsgdynMNRuVQZpfbAHzercV3QF5F9BiRvohl5RG7c" width="143" height="57" style="margin-left:0px;margin-top:0px" crossorigin="">
                            </span>
                        </span>
                    </a>
                </p>
            </td>
            <td style="border-width:1pt;border-style:solid;border-color:rgb(255,255,255);vertical-align:top;padding:5pt;overflow:hidden">
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <span style="font-size:10pt;font-family:Poppins,sans-serif;background-color:transparent;font-weight:600;vertical-align:baseline">
                        <font color="#073763">{{ firma.nombre }}</font>
                    </span>
                </p>
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <b><font color="#073763">{{ firma.cargo }}</font></b>
                </p>
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <span style="font-size:8pt;font-family:&quot;PT Serif&quot;,serif;background-color:transparent;vertical-align:baseline">
                        <font color="#073763">{{ firma.telefono }}</font>
                    </span>
                </p>
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <span style="font-size:8pt;font-family:&quot;PT Serif&quot;,serif;background-color:transparent;vertical-align:baseline">
                        <font color="#073763">{{ firma.direccion }}</font>
                    </span>
                </p>
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <font color="#073763">
                        <a href="https://www.instagram.com/fundacionmaradentro/" target="_blank" style="display:inline-block;margin-right:5px">
                            <img src="https://lh3.googleusercontent.com/RUoI5I9_hPHt7BQP91t3GtsQDV5sxsW_k_RcIFcsUexzxmF8cA2lQyl_OPyTss231Ilo5j1ScFGEgIEivUriUlb8PAaS982GIXewspVkapnUmp5zcRh1tq7-uZBIq-NVHOGYyrt-OFCO6-0XGoySABE" width="12" height="13" style="vertical-align:middle" crossorigin="">
                        </a>
                        &nbsp; &nbsp;
                        <a href="https://twitter.com/Fmaradentro" target="_blank" style="display:inline-block;margin-right:5px">
                            <img src="https://lh6.googleusercontent.com/oXFxZebTIZY4iqYBzjAbuXhBFxz0n_qXXpmfSeStKYA5kZDYjI1Jn7Kn2-ycAN-pUhZn1Mft3IPTizfcigXarcitB3N1pCRsMMC0IEPfwi2uQdUXWZeFCvSeMWfn-u1ex76Ot8HoCdB9T-IMjdyt9MY" width="13" height="13" style="vertical-align:middle" crossorigin="">
                        </a>
                        &nbsp; &nbsp;
                        <a href="https://www.facebook.com/fundacionmaradentrochile/" target="_blank" style="display:inline-block;margin-right:5px">
                            <img src="https://lh6.googleusercontent.com/xOlfsqMbwNT1AhPFaxIJfbGqsEx1GtGVxvZbP5ML253TsLldngg47KBMksLHrjOMO_xPcGuIezLZ-XX5hv7qYJ9p2MUaPKcBCnRkbh3PEwX_Np1yCacutCquPvLgVAXIzowVBvHog7prV-TtCOBPvCk" width="6" height="13" style="vertical-align:middle" crossorigin="">
                        </a>
                        &nbsp; &nbsp;
                        <a href="https://www.youtube.com/channel/UCs1CXtC6RGFjKp7RqaWPTAQ" target="_blank" style="display:inline-block;margin-right:5px">
                            <img src="https://lh6.googleusercontent.com/ySMpjyV-xnvxZDUrpDWCEIiZYgnB11iKjG8EN-vxzECdZaa3gA7MnDKVrZbY6jXvb5lWafx-PoCmG6duQ9vAgtH85F03bFTspmFC7SDEufWzp6qkP1HM36N6vRe_zKS4OlB_4PIu6C3jxYvDEWE7u6A" width="19" height="13" style="vertical-align:middle" crossorigin="">
                        </a>
                    </font>
                </p>
                <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt">
                    <font color="#073763">
                        <a href="https://fundacionmaradentro.cl/" target="_blank">
                            <span style="font-size:8pt;font-family:&quot;PT Serif&quot;,serif;background-color:transparent;vertical-align:baseline">fundacionmaradentro.cl</span>
                        </a>
                    </font>
                </p>
            </td>
        </tr>
    </tbody>
</table>
